*{
	margin: auto;
}
body, header{
	font-family: Arial;

}
h1{
	text-align: center;
}
.glyphicon:hover{
	cursor:pointer;
}
#logoEE{
	max-height : 35px;
	float: right;
}
.asideHelpPage{
	position: fixed;
	padding: 10px;
	top: 90%;
	right: 1%;
	white-space: normal !important;
	word-break: break-all;
	width: 40%;
	max-width: 220px;
}

.fixedToTop {
	position: fixed !important;
	top: 1% !important;
}

@media screen and (max-width: 770px) {
	.asideHelpPage {
		position: absolute;
		padding: 10px;
		top: 38%;
		left: 1%;
		width: 35px;
	}

	.asideHelpPage .text-large-button {
		display: none;
	}
}

#commentRecap > table > tbody > tr {
	transition-duration: 0.2s;
}

#commentRecap > table > tbody > tr:hover {
	background-color: #c9c9c9;
}

textarea{
	margin-bottom: 10px;
	resize:none;
}

.tooltip{
	font-size: 12pt;
}

.well {
	background-color: white;
	border:solid 1px #bfbfbf;
}


/* Affichage navigation mode mobile en-dessous de 1200px */
@media (max-width: 1200px) {
	#floatRight{
		float: left;
	}

	.navbar-header {
		float: none;
	}
	.navbar-left,.navbar-right {
		float: none !important;
	}
	.navbar-toggle {
		display: block;
	}
	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
		display: none!important;
	}
	.navbar-nav {
		float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
		float: none;
	}
	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.collapse.in{
		display:block !important;
	}
}

@media screen and (max-width: 1200px){
	#logoEE{
		max-height : 35px;
		float: left;
		margin-left: 15px;
	}

	.espacementG{
		margin-top: 5px;
	}

	.espacementH{
		margin-top: 5px;
	}
	.navbar-nav{
		text-align:left;
	}
}

@media screen and (min-width: 1200px){
	.espacementG{
		margin-left: 1.66%;
	}

	.navbar-nav>li {
		float: none;
		display: inline-block;
	}

	#pInfo{
		left: 16%;
	}
}

.lblDeletePP{
	font-weight: normal;
}
.divDeletePractice{
	color: #333;
	background-color: #fff;
	margin-top:30px;
	overflow: visible;
	border: 1px #ccc solid;
	border-radius: 5px;
	width: 426.391px;
}

.divDeletePractice p{
	font-weight: normal;
	margin : 10px;
}

.divDeletePractice:hover{
	background-color: #e6e6e6;
	cursor: pointer;
}
.square{
	width : 10px;
	height : 10px;
	float : right;
	margin : -15px 5px 0px 70px;
	border: 1px solid black;
}
#greySquare{
	background-image: url(../img/grey.png);
}
#redSquare{
	background-color : red;
}
#yellowSquare{
	background-color : yellow;
}
#purpleSquare{
	background-color : purple;
}
#greenSquare{
	background-color : green;
}

#legendTdPrint{
	text-align : right;
	width : 62.4%;
}
#skillsTable, #legendTable, #professionnalPracticesTable{
	margin-top:30px;
	border: 1px black solid;
}
#skillsTable th, #professionnalPracticesTable th{
	background-color : #1B81E5!important;
	border: 1px black solid!important;
	color : white!important;
}
#skillsTable td, #professionnalPracticesTable td{
	border: 1px black solid!important;
}

.skillDomainTd{
	background-color : #E4EEFC!important;
}

hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid black;
}

.table-vcenter td, .table-vcenter th{
	vertical-align: middle!important;

}
.aselect{
	float:right;
}
#tableWorkshopPopUp{
	width : 100%;
	text-align:left;
}

#tableWorkshopPopUp tr:nth-child(even){
	background-color :#d9d9d9;
}

.modal-header{
	width:80%;
	overflow: auto;
}
.divselect{
	margin-bottom: 5px;
	padding-left: 0px;
}
.table-responsive{
	border: none;
}
.notpadding{
	padding: 0px;
}
.avgBottom{
	position: absolute;
	bottom: 0;
	float: right;
	margin-left: -8px;
	text-align : right;
}

#Lambda{
	color: black;
	text-decoration: none;
}
#practices{
	border-color: #ddd;
}
#Comment{
	margin-top: 50px;
}
.divcomment{
	margin-top: 5px;
}
.borderBlack{
	border: 1px solid black;
}
#message{
	margin-top: -15px;
	position: absolute;
	top: 70px;
	left: 42%;
	text-align: center;
	margin-bottom: 5px;
}
#messageError{
	left: 33%;
}
#msgBox{
	margin-top:20%;
}

/* Page Aide */
@media screen and (max-width: 1200px){
	#tableMatiere{
		padding: 30px 30px 30px 30px;
		margin: 0px 0px 0px 0px;
	}

	.bodyAide, .bodyAide article, .bodyAide section{
		padding: 0px;
	}
}


@media screen and (min-width: 1200px){
	.col-center-help{
		margin-left:25%;
		padding:0px;
	}

	#tableMatiere{
		position: fixed;
		margin-left:5%;
		top: 12.5%;
	}
}

#tableMatiere a{
	color: black;
	text-decoration: none;
	display: block;
}

.mrgSection{
	margin-top : 50px;
	margin-bottom : 20px;
}
.frgStyle{
	padding: 0px;
}
.frgGroup:hover{
	border: 1px dodgerblue solid;
}
#fgrcodecouleurs{
	margin-bottom: 10px;
}
#pageAide li{
	margin-top: 5px;
}
.thead-inverse{
	color: #fff;
	background-color: #292b2c;
}

#accueil{
	margin-top : 20px;
}
#aide{
	cursor : pointer;
}
.fgcAide h3{
	margin: 0px;
	line-height: 40px;
	margin-bottom: 10px;
}
a{
	display: block;
}

/* Page Impression */
.btnRemoveDiv{
	position: relative;
	width: 30px;
	height: 30px;
	top: 16px;
	left: 98.5%;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.42;
	border-radius: 15px;
}
#printZone #skillsTable:hover{
	background-color : white;
}
#printZone button:hover + p, #printZone button:hover + table, #printZone p:hover, #printZone table:hover{
	background-color : #F5F5F5;
}
#printZone article{
	margin-top : 20px;
}
#printZone table{
	border: 1px solid #ddd;
	margin: 0px;
}
#printZone section{
	margin: 10px 0px 10px 0px;
}
#buttonZone section{
	padding: 5px;
}
.avgPlace{
	margin-bottom: 10px;
}
body { padding-right: 0 !important }

.disabled {
	pointer-events: none;
	cursor: default;
}
a:hover{
	cursor:  pointer;
}

/* Color */
.td-pasVu:hover {
	background-color: #ff3f3f!important;
}
.td-1Exp:hover {
	background-color: #ffa6a6!important;
}
.td-exp:hover {
	background-color: #ff7400!important;
}
.td-1Exc:hover {
	background-color: #ffe700!important;
}
.td-exc:hover {
	background-color: #9f9800!important;
}
.td-1Aut:hover {
	background-color: #00ff1e!important;
}
.td-aut:hover {
	background-color: #00a714!important;
}
#skillsTable .td-pasVu {
	background-color: #ff3f3f;
	transition: transform .2s;
	color: white;
}
#skillsTable .td-1Exp {
	background-color: #ffa6a6;
	transition: transform .2s;
}
#skillsTable .td-exp {
	background-color: #ff7400;
	transition: transform .2s;
}
#skillsTable .td-1Exc {
	background-color: #ffe700;
	transition: transform .2s;
}
#skillsTable .td-exc {
	background-color: #9f9800;
	transition: transform .2s;
}
#skillsTable .td-1Aut {
	background-color: #00ff1e;
	transition: transform .2s;
}
#skillsTable .td-aut {
	background-color: #00a714;
	transition: transform .2s;
}

.bordered {
	transform: scale(1.1);
	position: relative;
	z-index: 1000;
}